ФБ-33 Стогнійчук Інна 
Лабораторна робота №4
Структури для роботи з великими обсягами даних в Python

Перший рівень

In [3]:
import pandas as pd
import os
import datetime
import numpy as np
from IPython.display import display
import time

In [5]:
import os
import pandas as pd

def txt_to_csv(txt_file, csv_file, delimiter=';'):
    if os.path.exists(csv_file):
        os.remove(csv_file)

    dtype_spec = {
        'Global_active_power': 'float',
        'Global_reactive_power': 'float',
        'Voltage': 'float',
        'Global_intensity': 'float',
        'Sub_metering_1': 'float',
        'Sub_metering_2': 'float',
        'Sub_metering_3': 'float',
    }

    df = pd.read_csv(txt_file, delimiter=delimiter, dtype=dtype_spec, na_values='?')
    df.to_csv(csv_file, index=False)
    df.info()

# Шляхи до файлів
txt_file_path = 'household_power_consumption.txt'
csv_file_path = 'household_power_consumption.csv'

# Виклик функції
txt_to_csv(txt_file_path, csv_file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: float64(7), object(2)
memory usage: 142.5+ MB

Зчитування файла за допомогою pandas

In [6]:
def pd_df(csv_file_path):
    dtype = {
        'Global_active_power': float,
        'Global_reactive_power': float,
        'Voltage': float,
        'Global_intensity': float,
        'Sub_metering_1': float,
        'Sub_metering_2': float,
        'Sub_metering_3': float
    }

    df = pd.read_csv(csv_file_path, dtype=dtype, na_values='?')
    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
    df.dropna(inplace=True)
    return df
csv_file_path = 'household_power_consumption.csv'
df = pd_df(csv_file_path)    
display(df.head())
print(df.isnull().sum())

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

Зчитування файла за допомогою numpy

In [7]:
data = np.genfromtxt('household_power_consumption.csv', delimiter=',', dtype=str, skip_header=1)
#data[(data == '?') | (data == '')] = '0'

In [8]:
#numeric_data = data[:, 2:].astype(float)
#npdata = np.column_stack((data[:, :2], numeric_data))
#data[:, 2:].astype(float)
#print(data)
#data.shape
#print(numeric_data)


npdata = df.values
npdata[:, 0] = np.array([str(x) for x in npdata[:, 0]])
npdata[:, 1] = np.array([str(x) for x in npdata[:, 1]])
print(npdata)

[['2006-12-16 00:00:00' '17:24:00' 4.216 ... 0.0 1.0 17.0]
 ['2006-12-16 00:00:00' '17:25:00' 5.36 ... 0.0 1.0 16.0]
 ['2006-12-16 00:00:00' '17:26:00' 5.374 ... 0.0 2.0 17.0]
 ...
 ['2010-11-26 00:00:00' '21:00:00' 0.938 ... 0.0 0.0 0.0]
 ['2010-11-26 00:00:00' '21:01:00' 0.934 ... 0.0 0.0 0.0]
 ['2010-11-26 00:00:00' '21:02:00' 0.932 ... 0.0 0.0 0.0]]

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт

In [9]:
def power_over_5(df):
    result_df = df[df['Global_active_power'] > 5.0]
    
    return result_df

start_time = time.time()
filtered_df = power_over_5(df)
result_dataframe = power_over_5(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

Час виконання Pd: 0.14315152168273926

NumPy:

In [10]:
def power_over_5_np(nparray):
    filtered_np = nparray[nparray[:, 2] > 5]
    
    return filtered_np


start_time = time.time()
result_np = power_over_5_np(npdata)
print(result_np)
end_time = time.time() - start_time
print(f"Час виконання Numpy: {end_time}")

[['2006-12-16 00:00:00' '17:25:00' 5.36 ... 0.0 1.0 16.0]
 ['2006-12-16 00:00:00' '17:26:00' 5.374 ... 0.0 2.0 17.0]
 ['2006-12-16 00:00:00' '17:27:00' 5.388 ... 0.0 1.0 17.0]
 ...
 ['2010-11-24 00:00:00' '07:50:00' 5.172 ... 0.0 38.0 17.0]
 ['2010-11-24 00:00:00' '07:51:00' 5.75 ... 0.0 39.0 17.0]
 ['2010-11-25 00:00:00' '07:21:00' 5.074 ... 1.0 2.0 18.0]]
Час виконання Numpy: 0.07546520233154297

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [11]:
def voltage_over_235(df):

    result_df = df[df['Voltage'] > 235]
    
    return result_df

start_time = time.time()
result_dataframe = voltage_over_235(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

Час виконання Pd: 0.40610432624816895

NumPy:

In [12]:
def voltage_over_235_np(nparray):

    result_np = nparray[nparray[:, 4] > 235]
    
    return result_np

start_time = time.time()
result_npdataframe = voltage_over_235_np(npdata)
print(result_npdataframe)
end_time = time.time() - start_time
print(f"Час виконання Numpy: {end_time}")

[['2006-12-16 00:00:00' '17:28:00' 3.666 ... 0.0 1.0 17.0]
 ['2006-12-16 00:00:00' '17:29:00' 3.52 ... 0.0 2.0 17.0]
 ['2006-12-16 00:00:00' '17:30:00' 3.702 ... 0.0 1.0 17.0]
 ...
 ['2010-11-26 00:00:00' '21:00:00' 0.938 ... 0.0 0.0 0.0]
 ['2010-11-26 00:00:00' '21:01:00' 0.934 ... 0.0 0.0 0.0]
 ['2010-11-26 00:00:00' '21:02:00' 0.932 ... 0.0 0.0 0.0]]
Час виконання Numpy: 0.8586478233337402

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [13]:
def within_current_range(df):
    filtered_df = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
    
    result_df = filtered_df[(filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_3'])]
    
    return result_df

start_time = time.time()
result_dataframe = within_current_range(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

Час виконання Pd: 0.22762227058410645

NumPy:

In [14]:
def within_current_range_np(nparray):
    filtered_np = nparray[(nparray[:, 3] >= 19) & (nparray[:, 3] <= 20)]
    result_np = filtered_np[(filtered_np[:, 7] > filtered_np[:, 8])]
    
    return result_np

start_time = time.time()
result_npdataframe = within_current_range_np(npdata)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Numpy: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

Час виконання Numpy: 0.7047150135040283

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [15]:
def random_house_avarage(df, x=500000):
    random_indices = df.sample(n=x, replace=False).index
    random_raw = df.loc[random_indices]
    average_value = random_raw[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()
    
    return average_value

start_time = time.time()
average_value = random_house_avarage(df)
print(average_value)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

Sub_metering_1    1.125538
Sub_metering_2    1.304870
Sub_metering_3    6.451810
dtype: float64
Час виконання Pd: 0.8692450523376465

NumPy:

In [16]:
def random_house_avarage_np(nparray, x=500000):
    random_indices = np.random.choice(np.arange(nparray.shape[0]), size=x, replace=False)
    random_raw = nparray[random_indices]
    average_value = np.mean(random_raw[:, 6:9], axis=0)
    
    return average_value

start_time = time.time()
average_value = random_house_avarage_np(npdata)
print(average_value)
end_time = time.time() - start_time
print(f"Час виконання Numpy: {end_time}")

[1.115758 1.304072 6.43505]
Час виконання Numpy: 1.9045908451080322

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [17]:
def select_households(df):
    filtered_df = df[(df['Time'] > datetime.time(18, 0, 0)) & (df['Global_active_power'] > 6.0)]

    final_df = filtered_df[(filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_1']) &
                              (filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_3'])]
   
    first_half = final_df.head(len(final_df) // 2)
    second_half = final_df.tail(len(final_df) // 2)
    result_df = pd.concat([first_half.iloc[::3, :], second_half.iloc[::4, :]])
    return result_df

start_time = time.time()
result = select_households(df)
display(result.head())
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0

Час виконання Pd: 0.20032978057861328

NumPy:

In [22]:
def select_households_np(nparray):
    
    filtered_np = nparray[(nparray[:, 1]  > datetime.datetime.strptime('18:00:00', '%H:%M:%S').time()) & (nparray[:, 2] > 6.0)]
    final_np = filtered_np[(filtered_np[:, 7] > filtered_np[:, 6]) & (filtered_np[:, 7] > filtered_np[:, 8])]
   
    first_half = final_np[:len(final_np) // 2]
    second_half = final_np[len(final_np) // 2:]
    result_np = np.concatenate([first_half[::3], second_half[::4]])
    
    return result_np

start_time = time.time()
result = select_households_np(npdata)
print(result)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

[['2006-12-16 00:00:00' datetime.time(18, 5) 6.052 ... 0.0 37.0 17.0]
 ['2006-12-16 00:00:00' datetime.time(18, 8) 6.308 ... 0.0 36.0 17.0]
 ['2006-12-28 00:00:00' datetime.time(20, 58) 6.386 ... 1.0 36.0 17.0]
 ...
 ['2010-11-20 00:00:00' datetime.time(18, 39) 6.362 ... 16.0 35.0 16.0]
 ['2010-11-20 00:00:00' datetime.time(18, 43) 6.324 ... 14.0 35.0 17.0]
 ['2010-11-20 00:00:00' datetime.time(18, 49) 6.21 ... 21.0 34.0 17.0]]
Час виконання Pd: 0.15792155265808105

Отже, обидва способи працюють досить ефективно, проте DataFrame працює швидше та зручніше. DataFrame має більшу зручність для читання та обробки табличних даних.Але, якщо дані занадто великі, NumPy array може бути швидшим за рахунок своєї ефективності у використанні пам'яті.